@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aurora.SMS.Web</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <!-- Modal -->
    <div id="divProgressModalWindow" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Querying for data...</h4>
                </div>
                <div class="modal-body">
                    <div id="divProgressBarResults" class="progress" style="height:20px;vertical-align:middle">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="AuroraSMS" asp-action="Index" class="navbar-brand">Aurora SMS</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="AuroraSMS" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="AuroraSMS" asp-action="Contact">Contact</a></li>
                </ul>

                @*OLD:@Html.Action("SmsGateWayBlockView", "SmsGateWay")*@
                @*@await Component.InvokeAsync()*@
            </div>
        </div>
    </nav>
    <div class="clearfix"></div>
    <div class="container body-content">
        <div id="customAlertBox" class="row alert alert-danger alert-dismissable" style="position:fixed;right:0;margin:12px;display:none;z-index:9999;max-width:800px;">
            <button type="button" class="close" title="Close" onclick="$('.alert').hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i id="collapseIcon" class="fa fa-compress pull-right" data-toggle="collapse" data-target="#divcollapseError" title="Collapse/Expand" style="cursor:pointer;"></i>
            <i id="iconInfo" class="fa fa-2x fa-fw" aria-hidden="true" style="float:left;" title="On or more error occured!"></i>
            <div class="collapse in" id="divcollapseError">
                <strong id="msgHeader">The following errors have occured:</strong>
                <label id="labelMsg" style="overflow-y:auto;overflow:auto;max-height:80vh"></label>
            </div>
        </div>
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aurora Sms Demo application</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="~/Scripts/SmsGateWay/smsGateWay.js"></script>

    <script type="text/javascript">
        // http://stackoverflow.com/questions/30051283/why-does-my-bootstrap-popover-not-work
        $(function () {
            $('[data-toggle="popover"]').popover();
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
</body>
</html>
